button {
    display: flex;
    justify-content: center;
}

.color-table {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}

#canvas{
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 2px solid black;
}

.pixel{
    height: 10px;
    width: 10px;

}

.colorPicker{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 560px;
    height: 70px;
    border-top: none;
}
.color {
    width: 100px;
    height: 100px;
}